body{
	font-size: 14px;
	font-family: "微软雅黑";
}


.margin{
	margin-top;3px;
}
.xingming{
	font-size: 14px;
	font-weight: 700;
	color: #191919;
}
.bodr{
	width: 100%;
	height: 4px;
	background: url(../image/beijing.png);
}
.inxe{
	width: 90%;
	height: auto;
	display: block;
}
.xingmingca{
	height: 100px;
	background: red;
	width: 80%;
	float: right;
}
.xingmingca3{
	height: 100px;
	width: 78%;
	float: right;
	padding: 0px;
	margin-left: 20px;
	border: none;

}
.nav—dizi>span{
	display: inline-block;
	float: left;
}
.adress-cli{
	float: left;
	width: 60%;
	color: #757575;
}
.adress-con{
	display: inline-block;
	float: left;
	width: 100%;
	height: 5000px;
}
.xiugai2{
	width: 70%;
	float: left;
}
.nav—dizi4{
	height: 100px;
}
input{
	border: none;
	outline: none;
}
.save{
	background: #d90000;
	color: white;
	text-align: center;
	height: 33px;
	line-height: 30px;
}
.dixia{
	margin-top: 20px;
	width: 100%;
	background: white;
	height: auto;
}
.dixia-content{
	width: 100%;
	height: 6.5rem;
	border-top:2px solid #e4e4e4;
}
.content-cer{
	padding: .7rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin:0  auto;
}
.content-cer-left{
	width: 22%;
	height: 100%;
	float: left;
}
.content-cer-left>img{
	width: 5rem;
	height:5rem;
	display: block;
	float: left;

}
.dixxia{
	width:76%;
	height: 100%;
	float: right;
}
.dixxia>h4{
	font-family: "微软雅黑";
}
.dix-tesy{
	font-family: "微软雅黑";
	font-weight: 600;
	font-size: 1rem;
	color: #2b2b2b;
	display: block;
	height: 3.5rem;
}
.jifen{
	font-size: 1rem;
	color: #d90000;
	font-weight: 600;
	float: left;

}
.jifen i {
	font-style: normal;
}
.dixxia .shu{
	float: right;
	color:#606060;
	margin-right: 10px;
}
.dixxia em{
	font-style: normal;
	float: right;
}
.boottom{
	width:80%;
	height: 2rem;
	background: #d90000;
	line-height: 2rem;
	margin: 0 auto;
	color: white;
	border-radius: 5px 5px;
	text-align: center;
}
.pay{
	width: 100%;
	background: white;
	margin-top: 10px;
	padding-bottom: 10px;
}
.pay-total{
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	height: auto;

}
.money{
	width: 100%;
	height: 2.5rem;
	border-bottom: 1px solid #e4e4e4;
}
.money-total{
	display: block;
	color: black;
	line-height: 2.5rem;
	float: left;
}
.money>em{
	display: block;
	float: right;
	color: #d90000;
	line-height: 2.5rem;
	font-style: normal;
}
.freight{
	width: 100%;
	height: 2.5rem;
	border-bottom: 1px solid #e4e4e4;
}
.freight-total{
	display: block;
	color: black;
	line-height: 2.5rem;
	float: left;
}
.freight>em{
	display: block;
	float: right;
	color: #d90000;
	line-height: 2.5rem;
	font-style: normal;
}
.total—c{
	width: 100%;
	height: 2.5rem;
	border-bottom: 1px solid #e4e4e4;
}
.total—tt{
	display: block;
	color: black;
	line-height: 2.5rem;
	float: left;
}
.freight-m{
	display: block;
	float: right;
	color: #d90000;
	line-height: 2.5rem;
	font-style: normal;
}
